@model IEnumerable<Album>
@{
    ViewData["Title"] = "Home Page";
}
@using MusicStore.Helpers

<br />

<div class="text-center">
    <div class="jumbotron" style="background-color:lightblue; padding:40px 40px 40px 40px">
        <div class="jumbotron" style="background-color: aliceblue">
            <img src="~/images/logo.png" class="rounded" width="400"  />
        </div>
    </div>

    <ul class="row list-unstyled mt-5" id="album-list">
        @foreach (var album in Model)
        {
            var source = $"/content/{album.AlbumArtUrl}";
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
                    <img alt="@album.Title" src=@source width="100" />
                    <br />&nbsp;<br />
                    <div id="title">
                        @TitleHelper.Truncate(album.Title, 20)
                        </div>
                </a>
            </li>
        }
    </ul>
</div>